name: movie_app
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  provider: ^6.1.5+1
  video_player: ^2.9.5
  http: ^1.6.0
  intl: ^0.20.2
  get: ^4.7.3
  youtube_player_flutter: 8.1.2
  webview_flutter: ^4.8.0
  youtube_player_iframe: ^5.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
